<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191135381788-q9dr8gscc67tedvvd63jpenth1dcousl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191135381788-q9dr8gscc67tedvvd63jpenth1dcousl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>191135381788-eidi2j0khe7i3u4oj7sjb347u6l0iiv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-NCcfQuOItxRPj4uXbU9WWIdz6eGy5GE</string>
	<key>GCM_SENDER_ID</key>
	<string>191135381788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elektro.smartgridv2</string>
	<key>PROJECT_ID</key>
	<string>smartgridv2</string>
	<key>STORAGE_BUCKET</key>
	<string>smartgridv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191135381788:ios:e8eae29fb75d42003b62d9</string>
	<key>DATABASE_URL</key>
	<string>https://smartgridv2-default-rtdb.firebaseio.com</string>
</dict>
</plist>